*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.unselectable-text {
    user-select: none;
  }

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body>*{
    width: 100%;
}

.topbar{
    height: 10%;
    background-color: #FFF8D6;
    display: flex;
    justify-content: flex-end;
}

.footer{
    background-color: #F7E1AE;
    flex: 0.6;
    padding-inline: 8rem;
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.user-container{
    display: flex;
    flex-direction: row;
    margin-block: auto;
    margin-right: 2rem;
    align-items: center;
}

.dropdown-menu {
    display: none;
    position: fixed; /* Change to fixed positioning */
    top: 10%; /* Position it at the top of the viewport */
    right: 0;
    width: 15rem;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1000; /* Ensure it's on top of everything */
  }
  
  .dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .dropdown-menu li {
    padding: 10px;
    cursor: pointer;
  }
  
  /* Style for when hovering over the options */
  .dropdown-menu li:hover {
    background-color: #f0f0f0;
  }

.user-container>h4{
    height: fit-content;
    text-align: center;
}

.imagen-usuario{
    width: 3rem;
}

.dropdown-usuario{
    width: 2rem;
}


/* CSS PARA INFORMACION DEL RESTAURANTE */

.info {
    background: #ffffff;
    text-align: center;
    padding: 0px;
}

.conta {
    margin-top: 16px;
}

.fle {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    margin-right: 6px; /* Ajustar el margen derecho a 6px */
    }

.h1 {
    width: 300px;
    height: 41px;
    flex-shrink: 0;
    color: #000;
    font-family: Scope One;
    font-style: normal;
    margin: none;

}
.h4 {
    width: 447px;
    height: 48px;
    padding-top: 1%;
    flex-shrink: 0;
    color: #000;
    font-family: Scope One;
    font-style: normal;
    font-weight: 400;
    line-height: 124%; /* 43.4px */
    }
    
    /* Estilos para hacer las imágenes circulares y ajustar el tamaño */
    
    .img-circular {
        width: 150px; /* Ancho deseado */
        height: 150px; /* Alto deseado */
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid black; /* Añadir un borde negro alrededor de la imagen */
    }
    
    .image-caption {
        color: #000;
        font-family: 'Scope One';
        font-weight: bold;
        margin-top: 15px;
    }
    
    .image-col {
        text-align: center;
        margin: 0 18px; /* Espacio horizontal entre las imágenes */
    }
    
    /* Estilos para cambiar el color de fondo del cuerpo de la página */
    body.info {
        background-color: #f7f7f7;
    }

 /* Estilo personalizado para el botón reserva*/
.btn-color {
    color: #000000; /* Cambia el color del texto a tu elección */
    border-radius: 20px;
    background: #F7E1AE;
    border-color: none;
}
.btn-color:hover {
    background-color: #000000; /* Cambia el color de fondo al pasar el mouse por encima */
    color: white;
    border: 2px solid #ffffff; /* Cambia el color del borde al pasar el mouse por encima */
}

 /* Estilo personalizado para el botón descarga*/
.download-button {
    margin-top: 25px; /* Margen superior para dar espacio entre Affogato y el botón */
}
.btn-custom {
    background-color: #c4c4c4; /* Cambia el color de fondo a tu elección */
    color: #000000; /* Cambia el color del texto a tu elección */
    border-radius: 20px;
}

/* Estilo personalizado para el botón al pasar el mouse por encima */
.btn-custom:hover {
    background-color: #fcecc0; /* Cambia el color de fondo al pasar el mouse por encima */
}

/*CSS para la informacion */

.colorcrem {
    background-color: #FFEDC1;
    padding: 15px;
    text-align: justify;
}

.row{
    text-align: justify;
}


/*CSS para el formulario de reserva*/
.par{
color: #000;
text-align: justify;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 124%; /* 24.8px */
}

.custom-container {
    background-color: #f8ecb1; /* Color de fondo crema */
    padding: 5%;
    border-radius: 10px; /* Bordes redondeados */
    margin-bottom: 30px;
}

.small-input {
    width: 150px; /* Ancho más pequeño para el campo de fecha */
}

.fecha{
    text-align: left;
}

.form-group{
    padding-top: 2%;
}

.btn-colore{
    color: #000000; /* Cambia el color del texto a tu elección */
    border-radius: 20px;
    background: #ffffff;
    border-color: none;
    text-align: center;
}
.btn-colore:hover {
    background-color: #000000; /* Cambia el color de fondo al pasar el mouse por encima */
    color: white;
    border: 2px solid #6d6d6d; /* Cambia el color del borde al pasar el mouse por encima */
}


/*CSS PARA LA PAGINA DE LOGIN^*/
.login {
    background: #F7E1AE;
    margin: 100px auto 212px auto;
}

.deco {
    width: 1741px;
    height: 74px;
    flex-shrink: 0;
    position: fixed;
    background-color: #FFF8D6;
    border: 1px solid #333;
}

header {
    text-align: center;
    margin-bottom: 30px;
    font-family: Yellowtail;

}



@font-face {
    font-family: 'Yellowtail';
    src: url(Yellowtail-Regular.ttf) format('woff2'),
         url(Yellowtail-Regular.ttf) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url(WorkSans-VariableFont_wght.ttf) format('woff2'),
         url(WorkSans-VariableFont_wght.ttf) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Squada One';
    src: url(SquadaOne-Regular.ttf) format('woff2'),
         url(SquadaOne-Regular.ttf) format('woff');
    font-weight: normal;
    font-style: normal;
}

.cuadrolo {
    border: 1px solid #333;
    padding: 20px;
    background-color: #ffffff;
    width: 490px;
    margin: 0 auto;
}

.cuadrolo span {
    display: inline;
    margin-left: 10px;
    font-family: 'Work Sans', sans-serif;
    font-size: 21px;
    font-weight: bold;
}

.cuadrolo form {
    margin-top: 20px;
    margin-left: 52px;
}

.cuadrolo form label {
    margin-bottom: 11px;
    margin-right: 41px;
    font-size: 18px;
    font-weight:normal;
}

.cuadrolo form input {
    margin-bottom: 7.5px;
    display: block;
    width: 327px;
    margin-left: 11px;
}

.cuadrolo button{
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    margin-right: 43px;
    font-family: Squada One;
    width: 100px;
    color: rgb(0, 0, 0);
    background-color: #F7E1AE;
    border-color: #F7E1AE;
}
.color:hover {
    background-color: #e3c379;
    border-color: #F7E1AE;
    color: #000; /* Cambia el color del texto al que desees, por ejemplo, negro (#000) */
}



.cuadrolo #flecha {
    width: 56px;
    margin-right: 6px;
}

/*FIN DEL CSS DE PAGINA DE LOGIN*/


/*CSS PARA LA PAGINA DE REGISTRO*/
body {
    background: #F7E1AE;
    padding: 100px 428px 212px 428px; 
}


.deco {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 46px;
    background-color: #FFF8D6;
    border: 1px solid #333;
}


header {
    text-align: center;
    margin-bottom: 30px;
}

@font-face {
    font-family: 'Work Sans';
    src: url(WorkSans-VariableFont_wght.ttf) format('woff2'),
         url(WorkSans-VariableFont_wght.ttf) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Squada One';
    src: url(SquadaOne-Regular.ttf) format('woff2'),
         url(SquadaOne-Regular.ttf) format('woff');
    font-weight: normal;
    font-style: normal;
}



.cuadro {
    border: 1px solid #333;
    padding: 20px;
    background-color: #ffffff;
    width: 490px;
    margin: 0 auto;
}


.cuadro span {
    display: inline;
    margin-left: 10px;
    font-family: 'Work Sans', sans-serif;
    font-size: 21px;
    font-weight: bold;
}

.cuadro form {
    margin-top: 20px;
    margin-left: 52px;
}


.cuadro form label {
    margin-bottom: 11px;
    font-size: 18px;
    font-weight:normal;
}


.cuadro form input {
    margin-bottom: 7.5px;
    width: 327px;
}


.cuadro button{
    margin: 0 auto;
    margin-top: 30px;
    margin-left:113px ;
    display: block;
    font-family: Squada One;
    width: 110px;
    color: rgb(0, 0, 0);
    background-color: #F7E1AE;
    border-color: #F7E1AE;
}

.color:hover {
    background-color: #e3c379;
    border-color: #F7E1AE;
    color: #000; /* Cambia el color del texto al que desees, por ejemplo, negro (#000) */
}

.cuadro #flecha {
    width: 56px;
    margin-right: 6px;
}

/*FIN DEL CSS DEL REGISTRO*/


/*FOOTER*/

.footer{
    background-color: #F7E1AE;
    flex: 0.6;
    padding-inline: 8rem;
    display: flex;
    flex-direction: row;
    gap: 4rem; 

}

.panama {
    font-family: Yellowtail;
    color: black;
    padding-top: 5%;
    margin-bottom: none;
}

.etc{
    display: flex;
    flex-direction: column;
    margin-block: auto;
    text-align: justify;
}


/*tamaños de table y cell*/
@media (max-width: 768px) {
    /* Estilos para pantallas de hasta 768px de ancho (tamaño de tablet) */
}

@media (max-width: 480px) {
    /* Estilos para pantallas de hasta 480px de ancho (tamaño de teléfono) */
}

@media (min-width: 768px) and (max-width: 1024px) {
    /* Estilos para pantallas medianas (como el Samsung S8+) */
}

