*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.unselectable-text,
.all-unselectable-text {
    user-select: none;
    font-family: 'Work Sans', sans-serif;
  }

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body>*{
    width: 100%;
}

/* Nuevo Contenido */

.topbar{
    height: 10%;
    background-color: #FFF8D6;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0 !important;
    min-height: 75px;
}

/* Fin Nuevo Contenido */

.content{
    display: flex;
    flex-direction: column;
    flex-grow: 0.8;
}

.content>*{
    width: 100%;
}

/* Nuevo Contenido */
nav{
    background-color: #F7E1AE;
    flex: 1.4;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

/* Fin Nuevo Contenido */

.sections{
    background-color: white;
    flex: 1.3;
    display: flex;
    flex-direction: row;
    padding-inline: 5rem;
    font-family: 'Work Sans', sans-serif;
}

.footer{
    background-color: #F7E1AE;
    flex: 0.6;
    padding-inline: 8rem;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    font-family: 'Work Sans', sans-serif;
}

.user-container{
    display: flex;
    flex-direction: row;
    margin-block: auto;
    margin-right: 2rem;
    align-items: center;
}

.dropdown-menu {
    display: none;
    position: fixed; /* Change to fixed positioning */
    top: 10% !important; /* Position it at the top of the viewport */
    right: 0;
    width: 15rem;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1000; 
    font-family: 'Work Sans', sans-serif;
  }

  ul {
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  
  .dropdown-menu ul {
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  
  .dropdown-menu li {
    padding: 10px !important;
    cursor: pointer !important;
  }

  .dropdown-menu a {
   text-decoration: none;
  }
  
  .dropdown-menu li:hover {
    background-color: #f0f0f0 !important;
  }

.user-container>h4{
    height: fit-content !important;
    text-align: center !important;
}

.imagen-usuario{
    width: 3rem !important;
}

.dropdown-usuario{
    width: 2rem !important; 
}

/* Nuevo Contenido */

.usuario-font{
    text-decoration: none;
    color: black;
}



.titulo{
    margin-inline: auto !important;
    font-size: 5rem !important;
    font-family: Yellowtail;
    
}

.titulo>a{
    font-size: 80px !important;
    text-decoration: none !important;
    color: black !important;
}

/* Fin Nuevo Contenido */

.frase{
    margin-inline: auto !important;
    font-family: 'Work Sans', sans-serif;
}

.search-bar{
    background-color: rgba(106, 106, 106, 0.5) !important;
    height: 3rem !important;
    margin-inline: auto !important;
    width: 75% !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
}

.search-bar>form{
    width: 100% !important;
    padding: 0.3rem !important;
    padding-inline: 1rem !important;
}

.search-bar input {
    width: 100% ;
    height: 100% ;
    background-color: transparent !important;
    border-color: none !important;
    border: 0 !important;
    outline: none !important;
}

.lupa{
    width: 3.5rem !important;
    height: 2.5rem !important;
}

.search-bar input:focus{
    outline: none !important;
}

.busqueda-avanzada{
    width: 75% !important;
    display: flex !important;
    margin-inline: auto !important;
    justify-content: flex-end !important;
    background-color: rgba(106, 106, 106, 0.25) !important;
}



.open{
    background-color: grey !important;
}

.busqueda-avanzada>ul{
    width: 100% !important;
    height: 3rem !important;
    display: flex !important;
    flex-direction: row !important;
    padding-bottom: 3.25rem !important;
    padding-inline: 0.5rem !important;
}


.menu-item {
    display: none !important;
    pointer-events: none !important;
    flex: auto !important;
    margin-inline: 0.25rem;
    margin-top: 0.5rem;
    background-color: #FFFFFF;
    position: relative !important; /* Add relative positioning to make submenus relative to menu items */
    font-family: 'Work Sans', sans-serif;
  }

  input[type="checkbox"] {
    opacity: 1;
    padding: 1rem;
    position: relative;
  }

  .menu-item h3{
    background-color: #FFFFFF !important;
    padding-block: 0.5rem;
    padding-left: 1rem;
  }
  
  .submenu {
    display: none !important;
    pointer-events: none !important;
    background-color: #EEEEEE !important;
    width: 100% !important; /* Set the width to 100% to match the width of the parent .menu-item */
    position: absolute !important; /* Use absolute positioning to keep submenus within menu items */
    border-right: 1rem solid #EEEEEE;
    }
  
  .submenu li {
    background-color: #EEEEEE !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .submenu li * {
    display: inline-block;
    height: 100%;
    padding-block: 1rem;
    padding-left: 0.5rem;
    padding-right: -1rem !important;
  }

  .submenu li label {
    flex-grow: 1;
  }

  .submenu li label:not(.last){
    border-bottom: 1px solid black;
  }

  .submenu li input {
    padding-inline: 0.2rem !important;
  }
  
  .visible {
    display: block !important;
    pointer-events: auto !important;
  }

.busqueda-avanzada>div{
    display: flex !important;
    flex-direction: row !important;
    height: 100%;
    width: 20%;
    margin-top: 1rem;
}

.busqueda-avanzada>div *{
    height: 100%;
}

.busqueda-avanzada>h4{
    text-align: end !important;
}

.dropdown-busqueda-avanzada{
    height: 1.2rem !important;
}

.sections>div{
    display: flex !important;
    flex-direction: column !important;
    flex: 1 !important;
    margin-block: 1rem !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 1rem !important;
}

.sections>div>h4{
    text-align: center !important;
}

.sections img{
    width: 5rem !important;
    aspect-ratio: 1/1 !important;
}

.sections>div>*{
    justify-content: center !important;
    margin-inline: 1rem !important;
}

.footer>div{
    margin-inline-end: 2rem;
}

.social{
    display: flex !important;
    flex-direction: column !important;
    width: 20% !important;
    margin-block: auto !important;
}

.social>h2{
    text-align: center !important;
    font-family: Yellowtail;
}

.social>div{
    display: flex !important;
    flex-direction: row !important;
    width: 100% !important;
    justify-content: center !important;
    gap: 1rem !important;
}

.social img{
    width: 2rem;
}

/* CSS PARA INFORMACION DEL RESTAURANTE */

.h1 {

    flex-shrink: 0;
    color: #000;
    font-family: Scope One;
    font-style: normal;
    padding: auto;

}
.h4 {
    width: 447px;
    height: 48px;
    padding-top: 1%;
    flex-shrink: 0;
    color: #000;
    font-family: Scope One;
    font-style: normal;
    font-weight: 400;
    line-height: 124%; /* 43.4px */
    }
    
    /* Estilos para hacer las imágenes circulares y ajustar el tamaño */
    
    .img-circular {
        width: 150px; /* Ancho deseado */
        height: 150px; /* Alto deseado */
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid black; /* Añadir un borde negro alrededor de la imagen */
    }
    
    .image-caption {
        color: #000;
        font-family: 'Scope One';
        font-weight: bold;
        margin-top: 15px;
    }
    
    .image-col {
        text-align: center;
        margin: 0 18px; /* Espacio horizontal entre las imágenes */
    }
    
    /* Estilos para cambiar el color de fondo del cuerpo de la página */
    body.info {
        background-color: #f7f7f7;
    }

 /* Estilo personalizado para el botón reserva*/
.btn-color {
    color: #000000; /* Cambia el color del texto a tu elección */
    border-radius: 20px;
    background: #F7E1AE;
    border-color: none;
}
.btn-color:hover {
    background-color: #000000; /* Cambia el color de fondo al pasar el mouse por encima */
    color: white;
    border: 2px solid #ffffff; /* Cambia el color del borde al pasar el mouse por encima */
}

 /* Estilo personalizado para el botón descarga*/
.download-button {
    margin-top: 25px; /* Margen superior para dar espacio entre Affogato y el botón */
}
.btn-custom {
    background-color: #c4c4c4; /* Cambia el color de fondo a tu elección */
    color: #000000; /* Cambia el color del texto a tu elección */
    border-radius: 20px;
}

/* Estilo personalizado para el botón al pasar el mouse por encima */
.btn-custom:hover {
    background-color: #fcecc0; /* Cambia el color de fondo al pasar el mouse por encima */
}

/*CSS para la informacion en tabla*/

.colorcrem {
    background-color: #FFEDC1;
    padding: 20px !important;
    text-align: justify;

}

.row{
    text-align: justify;
    margin-left: 3% !important;
    margin-right: 3% !important;
}


/*CSS PARA LA PAGINA DE LOGIN^*/
.login {
    background: #F7E1AE;
    margin: 100px auto 212px auto;
}

#logintit{
    font-size: 50px;
    margin-bottom: -45px;
}

.deco {
    width: 1741px;
    height: 74px;
    flex-shrink: 0;
    position: fixed;
    background-color: #FFF8D6;
    border: 1px solid #333;
}

header {
    text-align: center;
    margin-bottom: 30px;
    font-family: Yellowtail;

}

@font-face {
    font-family: 'Yellowtail';
    src: url(Yellowtail-Regular.ttf) format('woff2'),
         url(Yellowtail-Regular.ttf) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url(WorkSans-VariableFont_wght.ttf) format('woff2'),
         url(WorkSans-VariableFont_wght.ttf) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Squada One';
    src: url(SquadaOne-Regular.ttf) format('woff2'),
         url(SquadaOne-Regular.ttf) format('woff');
    font-weight: normal;
    font-style: normal;
}

.cuadrolo {
    border: 1px solid #333;
    padding: 20px;
    background-color: #ffffff;
    width: 490px;
    margin: 0 auto;
}

.cuadrolo span {
    display: inline;
    margin-left: 10px;
    font-family: 'Work Sans', sans-serif;
    font-size: 21px;
    font-weight: bold;
}

.cuadrolo form {
    margin-top: 20px;
    margin-left: 52px;
}

.cuadrolo form label {
    margin-bottom: 11px;
    margin-right: 41px;
    font-size: 18px;
    font-weight:normal;
}

.sc{
    text-align: justify;

}

.cuadrolo form input {
    margin-bottom: 7.5px;
    display: block;
    width: 327px;
    margin-left: 11px;
}

.cuadrolo button{
    margin: 0 auto;
    margin-top: 20px;
    margin-right: 50px;
    align-items: center;
    text-align: center;
    font-family: Squada One;
    width: 100px;
    color: rgb(0, 0, 0);
    background-color: #F7E1AE;
    border-color: #F7E1AE;
    width: 151px;
}
.color:hover {
    background-color: #e3c379;
    border-color: #F7E1AE;
    color: #000; /* Cambia el color del texto al que desees, por ejemplo, negro (#000) */
}


.cuadrolo #flecha {
    width: 56px;
    margin-right: 6px;
}


.sin-subrayado{
    font-size: 16px;
    color: #858585;
    font-style: italic;
    margin-right: 50px;
    text-decoration: none;
}
 



/*FIN DEL CSS DE PAGINA DE LOGIN*/


/*CSS PARA LA PAGINA DE REGISTRO*/
.deco {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 46px;
    background-color: #FFF8D6;
    border: 1px solid #333;
}


header {
    text-align: center;
    margin-bottom: 30px;
}

@font-face {
    font-family: 'Work Sans';
    src: url(WorkSans-VariableFont_wght.ttf) format('woff2'),
         url(WorkSans-VariableFont_wght.ttf) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Squada One';
    src: url(SquadaOne-Regular.ttf) format('woff2'),
         url(SquadaOne-Regular.ttf) format('woff');
    font-weight: normal;
    font-style: normal;
}



.cuadro {
    border: 1px solid #333;
    padding: 20px;
    background-color: #ffffff;
    width: 490px;
    margin: 0 auto;
}


.cuadro span {
    display: inline;
    margin-left: 10px;
    font-family: 'Work Sans', sans-serif;
    font-size: 21px;
    font-weight: bold;
}

.cuadro form {
    margin-top: 20px;
    margin-left: 52px;
}


.cuadro form label {
    margin-bottom: 11px;
    font-size: 18px;
    font-weight:normal;
}


.cuadro form input {
    margin-bottom: 7.5px;
    width: 327px;
}


.cuadro button{
    margin: 0 auto;
    margin-top: 30px;
    margin-left:95px ;
    display: block;
    font-family: Squada One;
    width: 110px;
    color: rgb(0, 0, 0);
    background-color: #F7E1AE;
    border-color: #F7E1AE;
    width: 151px;
}

.color:hover {
    background-color: #e3c379;
    border-color: #F7E1AE;
    color: #000; /* Cambia el color del texto al que desees, por ejemplo, negro (#000) */
}

.cuadro #flecha {
    width: 56px;
    margin-right: 6px;
}

/*FIN DEL CSS DEL REGISTRO*/


/*FOOTER*/

.footer{
    background-color: #F7E1AE;
    flex: 0.6;
    padding-inline: 8rem;
    display: flex;
    flex-direction: row;
    gap: 4rem; 

}

.panama {
    font-family: Yellowtail;
    color: black;
    padding-top: 5%;
    margin-bottom: none;
}

.etc{
    display: flex;
    flex-direction: column;
    margin-block: auto;
    text-align: justify;
}

/*CSS DE RESULTADOS*/

/* Nuevo Contenido */

.regreso {
    display: flex;
    align-items: center;
}

/* Fin Nuevo Contenido */

.containertop {
    display: flex;
    justify-content: space-around;
    border-top: 0.5rem solid white;
    background-color: #F7E1AE;
    padding-top: 1rem;
}
.container {
    display: flex;
    justify-content: space-around;
    background-color: #F7E1AE;
    padding-top: 2rem;
}
.containerbottom {
    display: flex;
    justify-content: space-around;
    border-bottom: 0.5rem solid white;
    background-color: #F7E1AE;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.box {
    width: 425px;
    height: 400px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: #f2f2f2;
    border: none; /* Elimina el borde */
    border-radius: 20px; /* Añade bordes redondeados */
    font-family: 'Work Sans', sans-serif;
}

.box > img {
    width: 100%; /* La imagen ocupa el 100% del ancho del cuadro */
    height: 50%; /* La imagen ocupa la mitad de la altura del cuadro */
    object-fit: cover; /* La imagen se ajusta para cubrir el espacio sin deformación */
}

.box > h2 {
    font-size: 30px;
    margin: 5px 0;
}

.box > p,a {
    font-size: 20px;
    text-align: justify !important;
}

.box > a{
    font-style: italic;
    color: #d9a834;
}

/*FIN DEL CSS DE RESULTADOS*/

/*CSS para el formulario de reserva*/
.par{
color: #000;
text-align: justify;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
padding-left: 5%;
padding-right: 5%;
}

.reserva{
    text-align: center;
}

.var {
    background-color: #f8ecb1; /* Color de fondo crema */
    padding: 5%;
    padding-top: 0%;
    margin-bottom: 15px;
    border-radius: 10px; /* Bordes redondeados */
    margin: auto; /* Centrar el cuadro */
    max-width: 650px; /* Ancho máximo del cuadro */
    text-align: justify;
    margin-bottom: 20px; /* Agregado: Espacio en la parte inferior */
}


.form-groups{
    text-align: justify;
    margin: auto;
}
.form-check {
    margin:auto;
    text-align: justify;
    padding: 5%;
    padding-left: 40px;
    
}

.form-check-input {
    width: 20px;
    height: 20px;
    margin-right: 10px; /* Ajusta el espacio entre el cuadro de check y la etiqueta de texto */
}

.small-input {
    width: 200px; /* Ancho más pequeño para el campo de fecha */
}

.fecha{
    text-align: left;
}

.enviar{
    text-align: center;
    margin-right: 20px;
    padding-right: 100px;
    padding-left: 100px;
    margin-left: 145px;
}
.btn-colore{
    color: #000000; /* Cambia el color del texto a tu elección */
    border-radius: 20px;
    background: #ffffff;
    border-color: none;
    text-align: center;
}
.btn-colore:hover {
    background-color: #777777; /* Cambia el color de fondo al pasar el mouse por encima */
    color: white;
    border: 2px solid #6d6d6d; /* Cambia el color del borde al pasar el mouse por encima */
}

.form-controls{
    width: 502px;

}


/*ventana emergente*/
.form-checks {
    text-align: justify;
    margin-top: 10px;
}

.confirmar1{
    text-align: center;
    color: #000000; /* Cambia el color del texto a tu elección */
    border-radius: 20px;
    background: #ffffff;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-right: 20px;
    padding-right: 100px;
    padding-left: 100px;
    margin-left: 145px;
    
}
.confirmar1:hover {
    background-color: #777777; /* Cambia el color de fondo al pasar el mouse por encima */
    color: white;
    border: 2px solid #6d6d6d; /* Cambia el color del borde al pasar el mouse por encima */
}

.modal-body{
    text-align: justify;
}

.alert{
    background-color: #fffdfd;
    text-align: justify;
    color: #000;
    
}
.window-notice {
    background: rgba(33, 41, 52, .85);
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: flex;
    position: fixed;
    z-index: 999;
}
.window-notice .content {
    background: #f8ecb1e3; /* Color de fondo crema */
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(33, 41, 52, .75);
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 600px;
    min-width: 320px !important;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 2rem;
    font-size: 1.3rem;
}

@media (max-width: 767px) {
    .colorcrem {
        padding: 10px !important;
    }
}